<div>
  <input name="width_1" [(ngModel)]="width_1">
  <input name="height_1" [(ngModel)]="height_1">
  <input name="top_1" [(ngModel)]="top_1">
  <input name="left_1" [(ngModel)]="left_1">
</div>

<div>
    <input name="width_1" [(ngModel)]="width_2">
    <input name="height_2" [(ngModel)]="height_2">
    <input name="top_2" [(ngModel)]="top_2">
    <input name="left_2" [(ngModel)]="left_2">
</div>

<div>
    <input name="width_3" [(ngModel)]="width_3">
    <input name="height_3" [(ngModel)]="height_3">
    <input name="top_3" [(ngModel)]="top_3">
    <input name="left_3" [(ngModel)]="left_3">
</div>

<div>
    <input name="width_4" [(ngModel)]="width_4">
    <input name="height_4" [(ngModel)]="height_4">
    <input name="top_4" [(ngModel)]="top_4">
    <input name="left_4" [(ngModel)]="left_4">
</div>



<button (click)="save()">save</button>